<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>exweb</display-name>
<!--   주석 처리 단축키 = ctrl+shift+c -->
<!--   특정 파일이 아닌 폴더를 주소로 요청 받았을 때, -->
<!--   해당 폴더에 존재하는 어떤 파일을 응답으로 전송하고 싶은지를 설정 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
<!--   com.exam.LifeServlet 서블릿 클래스를 LifeServ라는 이름으로 등록 -->
<!--   서블렛 네임은 임의로 설정 가능 -->
  <servlet-name>LifeServ</servlet-name>
<!--   서블렛 클래스는 라이프 서블렛 클래스에서 copy qualified name하여 설정 -->
  <servlet-class>com.exam.LifeServlet</servlet-class>
  </servlet><servlet-mapping>
  
<!--/cycle.do 주소로 요청이 오면 LifeServ라는 이름으로 등록된 서블릿을 실행 -->
  <servlet-name>LifeServ</servlet-name>
  <url-pattern>/cycle.do</url-pattern>
  </servlet-mapping>
   
<!--kr.ac.kopo.comm.CharacterEncodingFilter 객체를 encFilter 라는 이름의 필터로 등록 -->
  <filter>
  <filter-name>encFilter</filter-name>
  <filter-class>kr.ac.kopo.comm.CharacterEncodingFilter</filter-class>
  
  
  
<!--필터의 초기화 작업에 필요한 파라미터로 encoding 값을 UTF-8로 설정 -->
  <init-param>
  <param-name>encoding</param-name>
  <param-value>UTF-8</param-value>
  </init-param>
  </filter>
  
<!--모든 경로(/*)로 요청이 오면 encFilter 라는 이름으로 등록된 필터를 실행 -->
  <filter-mapping>
  <filter-name>encFilter</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
   
<!--   <servlet> -->
<!--   <servlet-name>InitServ</servlet-name> -->
<!--   <servlet-class>kr.ac.kopo.comm.InitServlet</servlet-class> -->
<!--   load-on-startup 값이 음수인 경우 : 웹서버(톰캣)의 전략에 따라서 서블릿 객체 생성! 일반적으로는 지정된 주소로 요청이 왔을 때 서블릿 객체 생성--> 
<!--    load-on-startup 값이 0 이상인 경우 : 웹 애플리케이션 시작시 서블릿 객체 생성! 작은 값을 갖는 서블릿들부터 생성 --> 
<!--   <load-on-startup>0</load-on-startup> -->
<!--   </servlet> -->

<listener>
<listener-class>kr.ac.kopo.comm.InitListener</listener-class>
</listener>

<!-- 웹애플리케이션 전체에서 사용가능한 서블릿컨텍스트의 초기화 파라미터 설정 -->
<context-param>
   <param-name>driverClass</param-name>
   <param-value>oracle.jdbc.OracleDriver</param-value>
</context-param>
  
   
</web-app>