<?xml version="1.0" encoding="UTF-8"?>

<!-- 태그가 안뜨는 문제 수정만 하면 태그를 띄우고 작성할 수 있어짐 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	 <typeAliases>
	 	<typeAlias type="kr.ac.kopo.bookshop.model.Book" alias="Book" />
	 </typeAliases>
	
	 
	 <mappers>
	 	<mapper resource="mybatis/book.xml" />
	 </mappers>
	
</configuration>