<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kr.ac.kopo.subject.model.Subject" alias="Subject"/>
		<typeAlias type="kr.ac.kopo.subject.model.Student" alias="Student"/>
		<typeAlias type="kr.ac.kopo.subject.model.Study" alias="Study"/>
		<typeAlias type="kr.ac.kopo.subject.model.Detail" alias="Detail"/>
		<typeAlias type="kr.ac.kopo.subject.model.Bbs" alias="Bbs"/>
		<typeAlias type="kr.ac.kopo.subject.model.Reply" alias="Reply"/>
		
	

	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/subject.xml" />
		<mapper resource="mybatis/student.xml" />
		<mapper resource="mybatis/study.xml" />
		<mapper resource="mybatis/detail.xml" />
		<mapper resource="mybatis/bbs.xml" />
		<mapper resource="mybatis/reply.xml" />
		
		
	</mappers>
</configuration>